# Ignore object files
*.o
*.bin

# Ignore executáveis gerados
AudioEncoder
AudioDecoder

# Ignore arquivos temporários
*.dSYM
*.tmp
*.swp

# Ignore arquivos específicos de sistemas
Thumbs.db
*.bak

.vscode
ic_proj2/part4/t2/teste2_encode.bin
